#container {
    background-color: beige;
    height: 950px;
    width: 1300px;
    margin :0 auto;
    text-align: center;
    user-select: none;
}
#btn {
    display: block;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    width: 200px;
    height: 125px;
    margin :0 auto;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow:0 6px black;
}
#btn:hover {
    opacity: 0.7;
}
#btn:active {
    box-shadow: none;
    position :relative;
  top :6px;
}
h2 {
    display: inline-block;
    margin-top: 20px;
}
#result {
    margin-top: 25px;
    font-size: 35px;
    font-weight: bold;
}
#pictures {
    background-color: azure;
    margin: 25px;
    height: 600px;
}
h1 {
    display: inline-block;
    margin-top: 155px;
}
